version: '3.9'
services:
  batquiz:
    container_name: batquiz
    build:
      dockerfile: ${DOCKERFILE}
    image: batquiz:latest
    restart: unless-stopped
    env_file: .env
    environment:
      DATABASE_CLIENT: ${DATABASE_CLIENT}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PORT: ${DATABASE_PORT}
      JWT_SECRET: ${JWT_SECRET}
      ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      NODE_ENV: ${NODE_ENV}
    volumes:
      - ./config:/opt/app/config
      - ./src:/opt/app/src
      - ./package.json:/opt/package.json
      - ./package-lock.json:/opt/package-lock.json

      - ./.env:/opt/app/.env
      - ./public/uploads:/opt/app/public/uploads
    ports:
      - '1337:1337'
    networks:
      - strapi

networks:
  strapi:
    name: BatNet
    external: true

secrets:
    DATABASE_CLIENT:
      external: true
    DATABASE_HOST:
      external: true
    DATABASE_NAME:
      external: true
    DATABASE_USERNAME:
      external: true
    DATABASE_PORT:
      external: true
    JWT_SECRET:
      external: true
    ADMIN_JWT_SECRET:
      external: true
    DATABASE_PASSWORD:
      external: true
    NODE_ENV:
      external: true
    DOCKERFILE:
      external: true

