version: '3.9'
services:
  batquiz:
    container_name: batquiz
    build:
      dockerfile: ./Dockerfile.prod
    image: batquiz:latest
    restart: unless-stopped
    env_file: /var/www/batquiz/.env
    environment:
      DATABASE_CLIENT: ${DATABASE_CLIENT}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PORT: ${DATABASE_PORT}
      JWT_SECRET: ${JWT_SECRET}
      ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      NODE_ENV: ${NODE_ENV}
    volumes:
      - /var/www/batquiz/config:/opt/app/config
      - /var/www/batquiz/src:/opt/app/src
      - /var/www/batquiz/package.json:/opt/package.json
      - /var/www/batquiz/package-lock.json:/opt/package-lock.json

      - /var/www/batquiz/.env:/opt/app/.env
      - /var/www/batquiz/public/uploads:/opt/app/public/uploads
    ports:
      - '1337:1337'
    networks:
      - strapi

networks:
  strapi:
    name: BatNet
    external: true
